#resume {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-summary {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.user-summary h2 {
    color: #4caf50;
    margin-bottom: 15px;
}

.user-summary p {
    margin: 10px 0;
}

.user-summary span {
    font-weight: bold;
    color: #000000;
}