#formulaire {
    max-width: 400px;
    margin: auto auto;
    background-image: url("../../pexels-fwstudio-172289.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
    text-decoration: overline;

}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
}

input:focus {
    background-color: rgba(255, 255, 255, 1);
}

input::placeholder {
    color: #000000;
}

#choix_entreprise {
    background-color: rgba(255, 255, 255, 0.8);
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: white;
}

button {
    background-color: #206D3C;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #237e44;
}

p.error {
    color: #ffb01b;
    margin: 10px 0 15px;
    font-size: 16px;
}

.user-summary {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.user-summary h2 {
    color: #4caf50;
    margin-bottom: 15px;
}

.user-summary p {
    margin: 10px 0;
}

.user-summary span {
    font-weight: bold;
    color: #000000;
}

a.button {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
}

a.button:hover {
    background-color: #0056b3;
}

#home {
    max-width: 600px;
    margin: 115px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#home h1 {
    color: #333;
}

#home p {
    margin: 10px 0;
    color: #555;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    object-fit: cover;
}

.add-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.logout-button {
    background-color: #f9f9f9;
    color: #bd0000;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #e7e4e4;
}

.add-profil {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-profil:hover {
    background-color: #2980b9;
}

#profil {
    max-width: 600px;
    margin: 14px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#profil h1 {
    color: #2980b9;
}

#profil p {
    color: #555;
    margin-bottom: 10px;
}

#profil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#profil a {
    display: block;
    color: #fff;
    background-color: #3498db;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#profil a:hover {
    background-color: #2980b9;
}

.text-center p {
    color: #ffffff;
    font-size: 14px;
}

.text-center a {
    color: #98d5fd;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

#dateTrajet,
#distanceParcourue,
#dureeTrajet,
#idVehicule,
#imageTrajet {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 6px;
}

#dateTrajet:focus {
    background-color: rgba(255, 255, 255, 1);
}

#distanceParcourue:focus {
    background-color: rgba(255, 255, 255, 1);
}

#dureeTrajet:focus {
    background-color: rgba(255, 255, 255, 1);
}

#idVehicule:focus {
    background-color: rgba(255, 255, 255, 1);
}

#imageTrajet:focus {
    background-color: rgba(255, 255, 255, 1);
}

#idVehicule {
    margin-bottom: 10px;
}

#imageTrajet {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

@media (max-width: 600px) {
    #popupForm {
        width: 100%;
    }
}

label#dateT,
#distanceT,
#tempsT,
#vehiculeT,
#photoT {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

#updateProfileForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formul-label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #7691a8;
}

input.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.majBtn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancelBtn {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.cancelBtn:hover {
    background-color: #a81a10;
}

.profile-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin: 0 auto 15px;
}

#editProfileBtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#editProfileBtn:hover {
    background-color: #2980b9;
}

.profile-info-link {
    display: block;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.profile-info-link:hover {
    color: #bdbdbd;
}

.trajet {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.trajet:hover {
    transform: translateY(-5px);
}

.date-trajet {
    font-size: 22px;
    font-weight: bold;
    color: #459900;
    margin-bottom: 8px;
}

.distance-trajet,
.duree-trajet,
.vehicule-trajet {
    font-size: 20px;
    color: #333;
    margin-bottom: 6px;
}

.photo-trajet {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-trajet {
    font-style: italic;
    color: #f2f2f2;
    margin-top: 20px;
}

#arrowleft {
    font-size: 30px;
    color: #ffffff;
}

#arrowleft:hover {
    color: rgb(148, 148, 148);
}

.select-input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 10px;
    height: auto;
}

.select-input option {
    font-size: 14px;
}

.select-input:hover,
.select-input:active {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.select-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.trajHistory {
    color: #ffffff;
}

button.btn-delete-trajet {

    background-color: #d61111;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
}

html {
    background-image: url(https://images.pexels.com/photos/917510/pexels-photo-917510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.supCompte {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-right: 55px;
    margin-left: 55px;
    font-weight: bold;
}

.supCompte:hover {
    background-color: #c82333;
}

.supCompte:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

#dateTrajet {
    margin-top: 0 !important;
}

p.error-message {
    color: red !important;
    margin-top: 0 !important;
}

a#lienSignin {
    color: #98d5fd;
    text-decoration: none;
}